<div class="inner">
  <div class="row">
    <div class="col s3 close tealish-text" (click)="goBack()">
      <i class="fa fa-chevron-left"></i>
      Order Previews
    </div>
    <div class="col s6  main-title center-align title">Purchase Order Preview</div>
    <div class="col s3">
      <div class="right dd-bt">
        <button (click)="sendOrder()" class="uptracker-form-btn tealish white-text waves-effect waves-light">Send
        </button>
        <button materialize="dropdown"
          class='dropdown-button  uptracker-form-btn square tealish white-text waves-effect waves-light'
          data-activates='convertall'>
          <i class="fa fa-chevron-down"></i>
        </button>
        <ul id='convertall' class='dropdown-content'>
          <li>
            <a href="#">check</a>
          </li>
          <li>
            <a href="#">later:)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col s12 center-align" *ngIf="(convertedOrders$ | async)?.length>1">
    <button [disabled]="0 === (currentPage$ | async)"
      class="uptracker-form-btn tealish white-text waves-effect waves-light"
      (click)="prevOrder()">Previous
    </button>
    <button [disabled]="(convertedOrders$ | async)?.length-1 === (currentPage$ | async)"
      class="uptracker-form-btn tealish white-text waves-effect waves-light"
      (click)="nextOrder()">Next
    </button>
  </div>
  <div class="item-card">
    <h2>
      Purchase Order #{{ (convertedOrder$ | async).order?.po_number }}
    </h2>
    <div class="row-half">
      <h3>From</h3>
      <p>{{ (convertedOrder$ | async).order?.from_co_name }}</p>
      <p>{{ (convertedOrder$ | async).order?.from_address?.formattedAddress }}</p>
      <p>{{ (convertedOrder$ | async).order?.from_address?.postal_code}}</p>
      <p>Phone: {{ (convertedOrder$ | async).order?.from_phone_number}}</p>
      <p>Fax: {{ (convertedOrder$ | async).order?.from_fax_number}}</p>
      <p>E-mail: {{ (convertedOrder$ | async).order?.from_email_address}}</p>
    </div>
    <div class="row-half">
      <h3>Ship To</h3>
      <p>{{ (convertedOrder$ | async).order?.ship_to_co_name }}</p>
      <p>{{ (convertedOrder$ | async).order?.ship_to_address?.formattedAddress }}</p>
      <p>{{ (convertedOrder$ | async).order?.ship_to_address?.postal_code}}</p>
      <p>Phone: {{ (convertedOrder$ | async).order?.ship_to_phone_number}}</p>
      <p>Fax: {{ (convertedOrder$ | async).order?.ship_to_fax_number}}</p>
      <p>E-mail: {{ (convertedOrder$ | async).order?.ship_to_email_address}}</p>
    </div>
    <div class="row-half">
      <h3>To</h3>
      <p>{{ (convertedOrder$ | async).order?.vendor_name }}</p>
      <p>{{ (convertedOrder$ | async).order?.vendor_address?.formattedAddress }}</p>
      <p>{{ (convertedOrder$ | async).order?.vendor_address?.postal_code}}</p>
      <p>Phone: {{ (convertedOrder$ | async).order?.vendor_phone_number}}</p>
      <p>Fax: {{ (convertedOrder$ | async).order?.vendor_fax_number}}</p>
      <p>E-mail: {{ (convertedOrder$ | async).order?.vendor_email_address}}</p>
    </div>
    <div class="row-quarter">
      <h3>Account #</h3>
      <p>{{ (convertedOrder$ | async).order?.vendor_account_number || 'N/A' }}</p>
      <br>
      <h3>Order Date</h3>
      <p>{{ (convertedOrder$ | async).order?.order_date || 'N/A' }}</p>
      <br>
      <h3>Order Type</h3>
      <p>{{ (convertedOrder$ | async).order?.order_method || 'N/A' }}</p>
      <br>
    </div>
    <div class="row-quarter">
      <h3>Shipping Method</h3>
      <p>{{ (convertedOrder$ | async).order?.shipping_method || 'N/A' }}</p>
      <br>
      <h3>Payment Method</h3>
      <p>{{ (convertedOrder$ | async).order?.payment_method || 'N/A' }}</p>
      <br>
      <h3>Ordered By</h3>
      <p>{{ (convertedOrder$ | async).order?.ordered_by_name || 'N/A' }}</p>
      <br>
    </div>

    <div class="header-with-line">
      <div>Line Items</div>
    </div>
    <div class="price-table">
      <div class="price-row headings">
        <div class="price-item">Catalog #</div>
        <div class="price-item">Description</div>
        <div class="price-item">Qty</div>
        <div class="price-item">Unit Price</div>
        <div class="price-item">Pkg Price</div>
        <div class="price-item">Subtotal</div>
      </div>
      <div class="price-row" *ngFor="let item of (convertedOrder$ | async).order_items">
        <div class="price-item">{{item.catalog_number || '&nbsp;' }}</div>
        <div class="price-item">
          {{ item.item_description || item.item_name }}
        </div>
        <div class="price-item">{{ item.quantity || '&nbsp;' }}</div>
        <div class="price-item">{{ item.unit_price || '&nbsp;' }}</div>
        <div class="price-item">{{ item.package_price || '&nbsp;' }}</div>
        <div class="price-item">{{ item.sub_total || '&nbsp;' }}</div>
      </div>
    </div>
    <div *ngIf="(convertedOrder$ | async).order?.discount">
      <div class="header-with-line">
        <div>Discounts</div>
      </div>
      <div class="price-table">
        <div class="price-row headings">
          <div class="price-item">Type</div>
          <div class="price-item">Description</div>
          <div class="price-item">&nbsp;</div>
          <div class="price-item">Discount Qty</div>
          <div class="price-item">Reward Pts</div>
          <div class="price-item">Discount</div>
        </div>
        <div *ngFor="let item of (convertedOrder$ | async).discount_items" class="price-row">
          <div class="price-item">{{ item.discount_type }}&nbsp;</div>
          <div class="price-item">{{ item.item_description || item.item_name }}&nbsp;
          </div>
          <div class="price-item">&nbsp;</div>
          <div class="price-item">{{ item.discount_bogo_discounted }}&nbsp;</div>
          <div class="price-item">{{ item.discount_reward_points }}&nbsp;</div>
          <div class="price-item">-{{ item.discount_amount }}&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="header-with-line">
      <div>Total</div>
    </div>
    <div class="totals">
      <div>
        <div class="total-name">
          Line Items
        </div>
        <div class="total-value">
          {{ (convertedOrder$ | async).amounts_formatted?.line_items }}
        </div>
      </div>
      <div *ngIf="(convertedOrder$ | async).order?.discount">
        <div class="total-name">
          Discounts
        </div>
        <div class="total-value">
          {{ (convertedOrder$ | async).amounts_formatted?.discounts }}
        </div>
      </div>
      <div>
        <div class="total-name">
          Primary Tax
        </div>
        <div class="total-value">
          {{ (convertedOrder$ | async).amounts_formatted?.primary_tax }}

        </div>
      </div>
      <div>
        <div class="total-name">
          Shipping & Handling
        </div>
        <div class="total-value">
          {{ (convertedOrder$ | async).amounts_formatted?.shipping_handling }}
        </div>
      </div>
      <div>
        <div class="total-name bigger">
          Total
        </div>
        <div class="total-value bigger">
          {{ (convertedOrder$ | async).amounts_formatted?.total }}
        </div>
      </div>
    </div>
  </div>
</div>
