<ng-template [ngIf]="isShow">

  <div class="right edititem"
    materialize="dropdown"
    [attr.data-activates]='listName'
  >
    <fa name="ellipsis-h"></fa>
  </div>

  <ul [id]='listName' class='dropdown-content'>
    <li>
      <a class="tealish-text" (click)="edit()">Edit</a>
    </li>
    <li *ngIf="!isReceiveList">
      <a class="tealish-text" (click)="receive()">Receive</a>
    </li>
    <li *ngIf="!isBackorderedList">
      <a class="tealish-text" (click)="backorder()">Backorder</a>
    </li>
    <li *ngIf="isReceiveList">
      <a class="tealish-text" [routerLink]="['/orders/reconcile']">Reconcile</a>
    </li>
    <li>
      <a class="tealish-text" (click)=buyAgainOrders()>Buy Again</a>
    </li>
    <li *ngIf="!isReceiveList">
      <a class="red-text" (click)="onVoidOrder()">Void</a>
    </li>
  </ul>
</ng-template>
