<div class="col s3">
  {{ status }}
</div>
<div class="col s1">
  {{qty}}
</div>
<div class="col s4 tealish-text pointer" [routerLink]="['/', 'inventory','item', inventoryGroupId]">
  {{(inventoryGroup$ | async)?.name}}
</div>
<div class="col s3">
  {{(location$ | async)?.name}}: {{(storageLocation$ | async)?.name}}
</div>
<div class="col s1 flex-center justify-center">
  <a (click)="removePreviouslyReceivedToggle()">
    <fa [name]="deleteControl.value ? 'undo' : 'trash'" class="tealish-text"></fa>
  </a>
</div>
<div class="col s11" [class.strikethrough-line]="deleteControl.value"></div>
