@import "../../../colors.scss";
@import "../../../spinner.scss";

:host /deep/ {
  .products {

    .ptop5 {
      padding-top: 5px;
    }
    .dashboard .main-column .content-wrapper .top .filter.filter2 input {
      width: 60px;
    }

    .csv-btn {
      display: inline-block;
      height: 40px;
      width: 40px;
      margin: -5px 5px 5px;
      line-height: 38px;
      text-align: center;
      background-color: $white;
      border: 1px solid $tealish;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: auto 20px;
      box-shadow: none;
    }

    .upload-icon {
      background-image: url(/assets/img/upload-icon.png);
    }

    .download-icon {
      background-image: url(/assets/img/download-icon.png);
    }

    .star-right {
      color: $tealish;
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 24px;
      line-height: 1;
      opacity: 0;
      transition: opacity .3s;
      .fa-star {
        display:none;
      }

      &.favorite {
        opacity: 1;
        .fa-star-o {
          display:none;
        }
        .fa-star {
          display:block;
        }
      }
    }

    .star-container {
      position:relative;
      .star-right {
        opacity: 1;
        left:0;
        margin:0;
      }
    }

    .list {
      letter-spacing: 0;
      word-spacing: 0;
      font-size: 0;
      padding-bottom: 15px;
      text-align: left;
      margin-left: -20px;
      &.is-tiles-view {
        .item {
          display: inline-block;
          vertical-align: top;
          width: 250px;
          height: 250px;
          margin-left: 20px;
          margin-bottom: 20px;
          max-width: 100%;
          position: relative;

          .inner {
            width: 250px;
            height: 250px;
            border: 1px solid #d6d6d6;
            background: #fff;
            cursor: pointer;
            border-radius: 5px;

            .hazardous {
              position: absolute;
              left: 10px;
              top: 10px;
              color: #f1594e;
            }

            //&:hover{
            //  width:260px;
            //  height:260px;
            //  transform: translateX(-5px) translateY(-5px);
            //  box-shadow: 2px 2px 0 0 #e6e6e6;
            //
            //  .img{
            //    margin-top:34px;
            //    margin-bottom:27px;
            //    height:125px;
            //    width:125px;
            //  }
            //}

            &.active {
              border: 3px solid #000;
            }

            &:hover {
              .star-right {
                opacity: 1;
              }
            }
          }


          .img {
            margin: 21px auto 30px;
            height: 140px;
            width: 140px;
            background: #f1f2f2 no-repeat center center;
            background-size: cover;
            position: relative;

            .trackable {
              color: #33c6d9;
              position: absolute;
              right: -10px;
              bottom: -25px;
              font-size: 24px;
            }
          }

          .info {
            position: relative;
            font-size: 12px;
            margin: 0 15px;

            .ttl {
              font-size: 14px;
              line-height: 18px;
              font-weight: bold;
              height: 36px;
            }

            .bottom {
              .variations {
                color: #9d9d9d;
              }

              .price {
                color: #33c6d9;
              }
            }

            .edit {
              display: none;
              cursor: pointer;
              position: absolute;
              width: 15px;
              height: 15px;
              background: url(/assets/img/icon-edit.svg) no-repeat;
              right: 21px;
              top: 2px;
              left: auto;
            }
          }

          &:hover {
            .info {
              .edit {
                display: block;
              }
            }
          }
        }
      }

      &.is-grid-view {

        .row {
          .col {
            display: block;
            label {
              vertical-align: middle;

            }
          }
        }
        .heading {
          margin: 10px 0;
          color: #444;
          border-bottom: 1px solid #888;
          font-size: 14px;
          font-weight: bold;
          .col {
          }
          button {
            width: 30px;
            i {
              font-size: 20px;
              line-height: 28px;
            }
          }
        }
        .item {
          margin-bottom: 0;
          border-bottom: 1px solid #ddd;
          font-size: 14px;

          .col {
            min-height: 40px;
            line-height: 40px;
            color: #888;
            &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) {
              text-align: center;
            }
            &:nth-of-type(2) {
              color: $tealish;
              cursor: pointer;
            }
            .fa-eye, .fa-eye-slash {
              margin-right: 9px;
              line-height: 35px;
              transition: color .7s;
              cursor: pointer;
            }
            .fa-eye {
              color: $tealish;
            }
            .fa-eye-slash {
              color: $red;
            }
          }
        }

        input {
          margin: 0;
          height: 25px;
          font-size: 11px;
          background: transparent;
          padding-left: 8px;
          text-indent: 0;
          text-overflow: ellipsis;
          color: $grey;

          &.empty {
            color: $light-grey;
          }
        }
      }
    }
  }

  .flex-middle {
    display:flex!important;
    align-items: center;
    height:100%;
    line-height:1.25!important;
  }
  .tabs {
    .tab {
      text-transform: none;
      a {
        font-size: 1.2rem;
      }
    }
  }
  .no_results_container {
    opacity: 0;
    z-index: -999;
    text-align: center;
    transition: opacity .3s;
    //position: absolute;
    left: 0;
    top: 100px;
    width: 100%;

    &.not_hidden {
      opacity: 1;
      z-index: 999;
    }
    .img, .sub-buttons {
      display: inline-block;
      clear: both;
      margin: 10px auto 0;
    }
    .img {
      width: 80px;
      background-color: #ccc;
      border-radius: 40px;
      height: 80px;
      text-align: center;
    }
    .img i {
      font-size: 72px;
      color: #fff;
      line-height: 80px;
      margin-left: -4px;
    }
    button {
      margin: 0 15px;

    }
    .text {
      clear: both;
      margin: 20px 10%;
      font-size: 34px;
      color: #bbb;
      font-family: Ubuntu, sans-serif;
      line-height: 1;
      width: 80%;
      display: inline-block;
    }

  }
}

@media all and (max-width: 768px) {
  .filter {
    .filter-right {
      float: none !important;
    }
  }
}

@media all and (max-width: 500px) {
  .products {
    .list {
      text-align: center;
      clear: both;
    }
  }
}

div.top {
  position: relative;
  z-index: 1;
}

.uptracker-form-btn {
  transition: background-color, opacity, box-shadow .5s;
  &:hover {
    opacity: .8;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

.uptracker-form-btn[disabled] {
  background-color: $light-grey !important;
  &:hover {
    opacity: 1;
    box-shadow: none;
  }
}

.uptracker-toggle-view {
  cursor: pointer;
  i {
    margin-right:13px;
  }

  transition: opacity .3s;
  &:hover {
    opacity: .8;
  }
}

.any-bottom-spinner.table-view {
  height: 50px;
}

.wide {width:100%!important;}

.sortby input {
  width:100%!important;
}