@import "../../../colors.scss";
@import "../../../spinner.scss";

:host /deep/ {
  .products {
    .top {
      .title {
        margin-bottom: 15px;
      }

      .filter {

        .filter-btn {
          a {
            margin: 0 0 0 10px;
            line-height: 30px;
            cursor: pointer;

            i {
              margin-right: 3px;
              font-size: 22px;
            }

            & > * {
              vertical-align: middle;
            }
          }
        }
      }
    }

    .ptop5 {
      padding-top: 5px;
    }
    .dashboard .main-column .content-wrapper .top .filter.filter2 input {
      width: 60px;
    }

    .csv-btn {
      display: inline-block;
      height: 40px;
      width: 40px;
      margin: 0 5px 5px;
      line-height: 38px;
      text-align: center;
      background-color: $white;
      border: 1px solid $tealish;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: auto 20px;
      box-shadow: none;
    }

    .upload-icon {
      background-image: url(/assets/img/upload-icon.png);
    }

    .download-icon {
      background-image: url(/assets/img/download-icon.png);
    }

    .col.pdg-r-0 {
      padding-right: 0;
    }

    .star-right {
      color: $tealish;
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 24px;
      line-height: 1;
      opacity: 0;
      transition: opacity .3s;
      .fa-star {
        display:none;
      }

      &.favorite {
        opacity: 1;
        .fa-star-o {
          display:none;
        }
        .fa-star {
          display:block;
        }
      }
    }

    .star-container {
      position:relative;
      .star-right {
        opacity: 1;
        left:0;
        margin:0;
      }
    }


    .list {
      letter-spacing: 0;
      word-spacing: 0;
      font-size: 0;
      padding-bottom: 15px;
      text-align: left;

      &.is-grid-view {
        .row {
          .col {
            display: block;
            label {
              vertical-align: middle;

            }
          }
        }
        .heading {
          margin: 10px 0;
          padding-bottom: 20px;
          color: #444;
          border-bottom: 1px solid #888;
          font-size: 14px;
          font-weight: bold;
          .col {
          }
          button {
            width: 30px;
            i {
              font-size: 20px;
              line-height: 28px;
            }
          }
        }
        .item {
          margin-bottom: 0;
          font-size: 14px;

          .col {
            //min-height: 40px;
            //line-height: 40px;
            color: #888;
            &.pointer {
              cursor: pointer;
            }
            &:nth-of-type(5) {
              white-space: nowrap;
            }
            &:nth-of-type(1) {
              color: $tealish;
              cursor: pointer;
            }
          }
          .show-hover-elem {
            visibility: hidden;
          }
          &:hover {
            .show-hover-elem {
              visibility: visible;
            }
          }
        }

        input {
          margin: 0;
          height: 25px;
          font-size: 11px;
          padding-left: 8px;
          text-indent: 0;
          text-overflow: ellipsis;
          color: $grey;
          background-color: $white;


          &.empty {
            color: $light-grey;
          }
        }
      }
    }
    .list .item {
      border-bottom: 1px solid #ddd;
      &.no-border-bottom {
        border-bottom:none;
      }
    }
  }

  .tabs {
    background-color: transparent;
    border-bottom: 1px solid $dark;
    .tab {
      text-transform: none;
      font-weight:bold;
      a {
        font-size: 1.2rem;
      }
    }
  }

  .input-checkbox {
    margin-right:10px;
  }

  .dropdown-content {
    margin-top:28px;
    margin-left:10px;

    li {
      min-height:30px;
      a {
        padding: 0 10px;
        line-height:30px;
        font-weight:normal;
      }
    }
  }

  .heading .edititem {
    margin-top:0;
  }

  .orders-short-detail {
    margin: 0 0 0 35px;
    background-color: $white;
    border-radius: 10px;
    padding-bottom: 0!important;
    .item.smallrow {
      &:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }
      .col {
        min-height: 30px !important;
      }
      &:last-of-type {
        border-bottom: none;
      }
      .s3, .s1 {
        margin: 0;
      }
      .show-hover-elem {
        visibility: hidden !important;
      }
      &:hover {
        .show-hover-elem {
          visibility: visible !important;
        }
      }
    }
    .heading {
      &.row {
        margin:0!important;
        padding-bottom: 0 !important;
        .col {
          color: $dark !important;
        }
      }
      .edititem {
        //margin-top: 10px;
      }
    }


    .edititem {
      margin-top: 5px;
    }

    .flex-row {
      display: flex;
      flex-direction: row;
      .col {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &.right-align {
          justify-content: flex-end;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .filter {
    .filter-right {
      float: none !important;

      //
      //&.red-helper{
      //  float:right !important;
      //}

      button {
        //float:left;
      }
    }
  }
}

@media all and (max-width: 500px) {
  .products {
    .list {
      text-align: center;
      clear: both;
    }
  }
}

.no_results_container {
  opacity: 0;
  z-index: -999;
  text-align: center;
  transition: opacity .3s;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;

  &.not_hidden {
    opacity: 1;
    z-index: 999;
  }
  .img, .sub-buttons {
    display: inline-block;
    clear: both;
    margin: 10px auto 0;
  }
  .img {
    width: 80px;
    background-color: #ccc;
    border-radius: 40px;
    height: 80px;
    text-align: center;
  }
  .img i {
    font-size: 72px;
    color: #fff;
    line-height: 80px;
    margin-left: -4px;
  }
  button {
    margin: 0 15px;

  }
  .text {
    clear: both;
    margin: 20px 10%;
    font-size: 34px;
    color: #bbb;
    font-family: Ubuntu, sans-serif;
    line-height: 1;
    width: 80%;
    display: inline-block;
  }

}

div.top {
  position: relative;
  z-index: 1;
}

.uptracker-form-btn {
  transition: background-color, opacity, box-shadow .5s;
  &:hover {
    opacity: .8;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

.uptracker-form-btn[disabled] {
  background-color: $light-grey !important;
  &:hover {
    opacity: 1;
    box-shadow: none;
  }
}

.uptracker-toggle-view {
  cursor: pointer;

  transition: opacity .3s;
  &:hover {
    opacity: .8;
  }
}

.any-bottom-spinner.table-view {
  height: 50px;
}




