$tealish: #33c6d9;

.user-image{

  img {
    width:100%
  }

  a{
    cursor:pointer;
  }
}

.info{
  margin-top:-10px;

  .ttl{
    font-weight:bold;
    margin-top:10px;
  }

  .left{
    margin-right:5px;
  }

  button{
    margin:15px 0 0;
    background:#33c6d9;
  }
}

.user-tabs {
  overflow-x: hidden;
  margin-bottom: 20px;
}

.title-input {
  margin-bottom: 20px;
}

.title {
  font: 28px/32px Ubuntu;
  margin-bottom: 5px;
}

.close {
  transition:opacity .3s;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: $tealish;
  cursor: pointer;
  font-size:20px;
  text-align:center;
  border-radius:20px;
  color:#fff;
  line-height:40px;
  padding-right: 3px;
  &:hover {
    opacity:.8;
  }
}

.tabs {
  background-color: transparent;
}

button {
  background: $tealish;
  &:hover {
    opacity:.8;
    background: $tealish;
  }
}