<div class="close" (click)="dismissModal()"></div>
<div class="inner">
  <div class="title center-align">Filter Settings</div>
  <form class="uptracker-form"
    materialize
    autocomplete="off"
    novalidate
  >
    <div class="row">
      <div class="col s12 m5">
        <app-price-filter
          [title]="'Price'"
          [maxPrice]="maxPriceControl"
          [minPrice]="minPriceControl"
        ></app-price-filter>
        <app-date-filter
        [title]="'Previously ordered within X-X dates'"
        [orderedFrom]="orderedFromControl"
        [orderedTo]="orderedToControl"
        ></app-date-filter>
      </div>
      <div class="col s12 m4">
        <app-checkboxes-filter
          [title]="'Discount'"
          [collection]="discounts"
          [formControl]="discountsControl"
        >
        </app-checkboxes-filter>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="ttl bold">Vendor</div>
        <app-chips-input
          [formControl]="vendorsControl"
          [materializeParams]="autocompleteVendors"
        ></app-chips-input>
      </div>
      <div class="col s12 m6">
        <app-checkboxes-filter
          [title]="'Department'"
          [collection]="(departmentCollection$ | async)"
          [classCol]="'m6'"
          [formControl]="departmentsControl"
        >
        </app-checkboxes-filter>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <app-single-checkbox-filter
          [title]="'My Favorite'"
          [control]="myFavoriteControl"
        >
        </app-single-checkbox-filter>
      </div>
    </div>
    <div class="footer-btn">
      <button class="uptracker-form-btn tealish white-text waves-effect waves-light"
        (click)="applyFilters()"
      >
        Apply Filters
      </button>
      <button class="uptracker-form-btn tealish tealish-text waves-effect waves-light back-btn">
        Cancel
      </button>
    </div>
  </form>
</div>