<div class="sub-title tealish-text">
  {{(orderTableService.countOrders$ | async) ? (orderTableService.countOrders$ | async) : '0'}} items
</div>
<div class="list is-grid-view">
  <div class="heading row flex-center">
    <div class="input-checkbox left checkbox"
    >
      <input
        type="checkbox"
        class="checkbox-input"
        [id]="componentId + '-checkbox'"
        [ngModel]="orderTableService.batchSelect$ | async"
        (click)="toggleSelectAll()"
      />
      <label [for]="componentId + '-checkbox'"></label>
    </div>
    <div class="col pointer"
      (click)="sortByHeaderCol(headerCol)"
      [ngClass]="headerCol.className"
      [class.red-text]="(sort$ | async)?.alias === headerCol.alias"
      *ngFor="let headerCol of header;">
      {{headerCol.name}}
      <fa
        *ngIf="(sort$ | async)?.alias === headerCol.alias"
        [name]="(sort$ | async)?.order === asc ? 'chevron-up' : 'chevron-down'"
      ></fa>
      <app-order-table-header-action
        [orders]="checkedOrders$ | async"
        [isShow]="headerCol.actions && showHeaderMenu$ | async"
        [listName]="_listName"
      ></app-order-table-header-action>
    </div>

  </div>

  <div class="item" *ngFor="let item of filteredOrders$ | async; index as i;">
    <div class="row flex-center mrg-btm-0 main-row">
      <div class="input-checkbox left checkbox">
        <input
          type="checkbox"
          [ngModel]='item.checked'
          (ngModelChange)="setCheckbox(item)"
          class="selected-input{{i + item[uniqueField]}}"
          id="selected{{i + item[uniqueField] + componentId}}"
        />
        <label for="selected{{i + item[uniqueField] + componentId}}"></label>
      </div>

      <div class="col"
        *ngFor="let headerCol of header;"
        (click)="headerCol?.filterBy && !(headerCol.showChevron && item.statusHistoryVisibility) ? onFilterBy(item[headerCol.alias], headerCol) : ''"
        [ngClass]="headerCol.className"
        [class.tealish-text]="headerCol?.filterBy"
        [class.pointer]="headerCol?.filterBy"
        [class.expanded]="item.statusHistoryVisibility"
      >
        <div
          [class.col-content-wrapper]="headerCol.wrap <= 1 || !headerCol.wrap"
          [class.col-wrap-multiline]="headerCol.wrap > 1"
          [class.col-flex-content]="headerCol.showChevron"
          [ngStyle]="{'-webkit-line-clamp': headerCol.wrap > 1 && headerCol.wrap}"
        >
          <span
            *ngIf="headerCol.alias && item[headerCol.alias]"
            [title]="item[headerCol.alias]"
            [ngClass]="{'black-text cursor-default': headerCol.showChevron && item.statusHistoryVisibility, 'red-text':  (filterByObj$ | async)[headerCol.alias] === item[headerCol.alias]}">
            {{item[headerCol.alias]}}
          </span>
          <span
            *ngIf="headerCol.aliasArray && headerCol.aliasArray.length"
          >
            <ng-template ngFor let-alias [ngForOf]="headerCol.aliasArray" let-last="last">
              {{ item[alias] }}{{ last ? '' : headerCol.join }}
            </ng-template>
          </span>
          <fa
            *ngIf="headerCol.showChevron && item.status_int === orderStatus.multiple"
            (click)="toggleStatusHistoryDetail(item); $event.stopPropagation()"
            class="expand-chevron"
            [name]="item.statusHistoryVisibility ? 'chevron-up' : 'chevron-down'"
          ></fa>
        </div>


        <app-order-table-item-action
          [item]="item"
          [isShow]="headerCol.actions"
          [listName]="_listName"
          [uniqueField]="uniqueField"
          [i]="i"
        ></app-order-table-item-action>

      </div>
    </div>
    <div *ngIf="item.statusHistoryVisibility">
      <div class="row flex-center mrg-l-30 mrg-btm-0" *ngFor="let statusLine of item.status_line_items">
        <div class="col" *ngFor="let headerCol of header;" [ngClass]="headerCol.className">
          {{statusLine[headerCol.alias]}}
        </div>
      </div>
    </div>

  </div>
</div>

