:host /deep/ {
  .sub-title {
    line-height: 30px;
    font-size: 28px;
  }
  .show-hover-elem {
    transition: all .3s;
  }
  .main-row .underline-text {
    &.expanded {
      text-decoration: underline;
    }
    color: #000 !important;
  }
  .black-text {
    color: #000 !important;
  }
  .cursor-default {
    cursor: default;
  }
}
