.location-type{
  position:relative;

  .helper{
    position:absolute;
    right:0.75rem;
    top:3px;
  }
}

.location-image{
  .img-container{
    width:240px;
    height:136px;
    background-image: url(/assets/img/onboard/icon-img-placeholder-locations.svg);
  }

  .text{
    margin-top:30px;

    .tip{
      color:#9a9c9e;
      margin-bottom:13px;
    }
  }

  a{
    cursor:pointer;
  }
}

.buttons{
  margin:38px 0 0;
}