<div class="inner">
  <div class="row title center-align">Warning</div>
  <div class="row center-align high">Please note, it is your responsibility to phone the order into the Vendor. UPtracker helps you manage inventory but does not place phone orders for Users.</div>
  <div class="row center-align high">Do you want to print your order?</div>
  <div class="row mtop mbot">
    <div class="center-align col s12">
      <button class="uptracker-form-btn" (click)="closeModal()">Yes</button>
      <button  class="uptracker-form-btn " (click)="dismissModal()">No</button>
    </div>
  </div>
</div>
