<div class="inner">
  <div class="row title center-align">Invite a new user</div>
  <div class="row">
    <div class="col s4 text center-align">
      <img src="/assets/img/onboard/button-invite-user.svg" alt="Invite user">
    </div>
    <div class="col flex-center s8 grey-text center-align bigger">
      <div>
        New user will receive email that he is invited to join your team.
      </div>
    </div>
  </div>

  <div class="row no-margin-bottom">
    <div class="col s6  bold">
      Name
    </div>
    <div class="col s6 bold">
      Email
    </div>
  </div>
  <div class="row small-margin">
    <div class="col s6">
      <div class="left input">
        <input [(ngModel)]="name"
          required minlength="2" maxlength="254"
          type="text" placeholder="Jane Doe"
          #name_field="ngModel"
          (focus)="nfoc=true"
          (blur)="nfoc=false"
        >
      </div>
    </div>
    <div class="col s6">
      <div class="left input">
        <input
          class="validate col s12"
          placeholder="jane.doe@example.com"
          [(ngModel)]="email"
          (focus)="efoc=true"
          (blur)="efoc=false"
          #email_field="ngModel"
          required minlength="6" maxlength="254" pattern=".+@.+\..+"
          type="text">
      </div>
    </div>
    <div *ngIf="!email_field.valid && !efoc" class="col s12 red-text">Email has to be valid.</div>
    <div *ngIf="!name_field.valid && !nfoc" class="col s12 red-text">Does your friend has a name?</div>

  </div>
  <div class="clearfix"></div>
  <div class="row buttons">
    <div class="center-align col s12">
      <button class="uptracker-form-btn" (click)="dismissModal()">Cancel</button>
      <button [disabled]=" !email_field.valid || !name_field.valid" class="uptracker-form-btn" (click)="invite()">
        Invite
      </button>
    </div>
  </div>
</div>
