<div class="inner add-to-order-modal">
  <div>
    <p>
      There are three types of units when considering products… The outer package
      is how the whole product comes packaged, for example a case of gloves.
      There will always only be 1 qty for outer package. The inner package would
      be the next packaging found once you open the outer package, for example boxes of gloves.
      Then the consumable unit would be the actual amount of items in the whole outer
      package for example, gloves. So there might be a case (outer package) of 10 boxes
      (inner package) and each box holds 100 gloves (consumable units per box) which means
      there is a total of 10x100=1,000 total gloves/consumable units. When asked how do you
      count this most offices would say buy the “box” meaning per box of 100 gloves.
    </p>
    <p>
      If there is no inner package you can simply put N/A. For example you may get 1 pack of 5 burs.
      The outer package is a pack, the inner package is N/A and the consumable units type is Burs
      and Qty is 5. You may want to count the Burs individually so when asked “how do you count this"
      you can put “bur”.
    </p>
    <p>
      Often elastics come in an outer package of a box.  The inner package are little bags
      and there are elastics (consumable units) in each bag.
      You would most likely count by the box.
    </p>
    <p>
      Brackets can come two ways.  By the bracket or by the tray.  If you order by the bracket then you would put
      outer package is Bracket, inner is N/A and the Consumable unit is Bracket with a qty of 1.
      If you get them by the tray the outer package is a tray, the inner is N/A and the consumable
      unit is Bracket(s) with a qty of how many come in a tray.
    </p>
  </div>
  <div class="center-align col s12 clearfix bottom-buttons">
    <button class="uptracker-form-btn" (click)="dismissModal()">Close</button>
  </div>
</div>
