<ng-template [ngIf]="isShow">
  <span
    class="tealish-text pointer"
    [class.show-hover-elem]="!item.flagged"
    (click)="openAddCommentModal(item)"
  >
    <fa name="flag-o" *ngIf="!item?.flagged"></fa>
    <fa name="flag" *ngIf="item?.flagged"></fa>
  </span>
  <span
    class="tealish-text pointer"
    [class.show-hover-elem] = "!item.favorite"
    (click)="setFavorite(item)"
  >
    <fa name="star-o" *ngIf="!item?.favorite"></fa>
    <fa name="star" *ngIf="item?.favorite"></fa>
  </span>

  <div class="right edititem show-hover-elem"
    materialize="dropdown"
    [attr.data-activates]='item[uniqueField] + listName + i'>
    <fa name="ellipsis-h"></fa>
  </div>
  <ul [id]='item[uniqueField] + listName + i' class='dropdown-content'>
    <li *ngIf="item.status !== 'Reconciled'">
      <a class="tealish-text" (click)="edit()">Edit</a>
    </li>
    <li>
      <a class="tealish-text" (click)="item.flagged_comment?.length > 0 ? openUnflagToaster() : openAddCommentModal(item)">
        {{item.flagged ? 'Unflag' : 'Flag'}}
      </a>
    </li>
    <li>
      <a class="tealish-text" (click)="setFavorite(item)">
        {{item.favorite ? 'Unfavorite' : 'Favorite'}}
      </a>
    </li>
    <li *ngIf="item.order_method !== 'Direct' && !isRecieveList">
      <a class="tealish-text" (click)="openResendDialog(item)">Resend</a>
    </li>
    <li *ngIf="isRecieveList || isReceivedItem">
      <a class="tealish-text" [routerLink]="['/orders/reconcile']">Reconcile</a>
    </li>
    <li *ngIf="!isReceivedItem && !isRecieveList">
      <a class="tealish-text" (click)="receive()">Receive</a>
    </li>
    <li *ngIf="!isBackorderedItem && !isBackorderedList">
      <a class="tealish-text" (click)="backorder()">Backorder</a>
    </li>
    <li>
      <a class="tealish-text" (click)="buyAgainOrder(item)">Buy Again</a>
    </li>
    <li *ngIf="!isViodedItem && !isReceivedItem &&  !isRecieveList">
      <a class="red-text" (click)="onVoidOrder(item)">Void</a>
    </li>
  </ul>
</ng-template>
