  <div class="auth-box center-align">
    <div class="title">Reset your password</div>
    <div class="subtitle">Please enter your new password twice below.</div>
    <form class="uptracker-form" materialize (ngSubmit)="onSubmit()" #resetForm="ngForm" autocomplete="off" novalidate>

      <div class="input row">
        <div class="label left-align">New password</div>
        <input
            id="password"
            placeholder="Type here"
            class="validate col s12"
            type="password"
            [(ngModel)]="userPass.password"
            name="password"
            minlength="6"
            required
            #password="ngModel">

        <div [hidden]="password.valid || password.pristine" class="error red-text left-align">
          *Min length of password must be at least 6 symbols.
        </div>
      </div>

      <div class="input row">
        <div class="label left-align">Re-enter new password</div>
        <input
            id="password2"
            placeholder="Type here"
            class="validate col s12"
            type="password"
            [(ngModel)]="userPass.password2"
            name="password2"
            minlength="6"
            required
            #password2="ngModel">

        <div [hidden]="password2.valid || password2.pristine" class="error red-text left-align">
          *Min length of password must be at least 6 symbols.
        </div>
      </div>

      <button
          type="submit"
          class="btn white-text waves-effect waves-light"
          [class.disabled]="!resetForm.form.valid"
          [disabled]="!resetForm.form.valid">
        Reset
      </button>
    </form>
  </div>
