<div class="close" (click)="dismissModal()"></div>
<div class="title center-align">Change Password</div>

<form class="uptracker-form change-pass-form" #changePassForm="ngForm" autocomplete="off" novalidate materialize (ngSubmit)="onSubmit()" >
  <div class="row">
    <div class="col s12 input change-pass-input">
      <input
              id="pass"
              class="validate col s12"
              placeholder="Password"
              [(ngModel)]="changePass.password"
              (input)="passConfirmation=true"
              required
              name="pass"
              minlength="6"
              #pass="ngModel"
              type="password">
      <div [hidden]="pass.valid || pass.pristine" class="error red-text left-align">
        *Min length of password must be at least 6 symbols.
      </div>
    </div>
    <div class="col s12 input change-pass-input">
      <input
              id="confirm-pass"
              class="validate col s12"
              placeholder="Confirm Password"
              [(ngModel)]="changePass.password_confirmation"
              (input)="passConfirmation=true"
              required
              minlength="6"
              name="password_confirmation"
              #confirm_pass="ngModel"
              type="password">
      <div [hidden]="confirm_pass.valid || confirm_pass.pristine" class="error red-text left-align">
        *Min length of password must be at least 6 symbols.
      </div>
      <div [hidden]="passConfirmation" class="error red-text left-align">
        *Password and confirm password should match.
      </div>
    </div>
    <div class="buttons center-align">
      <button class="btn btn-floating" [disabled]="changePassForm.invalid">Change Password</button>
    </div>
  </div>
</form>