<div class="center-align">
  <h4 class="center-align white-text">
    Home page
  </h4>
  <div>
    <a [routerLink]="['/dashboard']" class="white-text">Dashboard</a>
  </div>
  <div>
    <a [routerLink]="['/login']" class="white-text">Login</a>
  </div>
  <div>
    <a [routerLink]="['/forgot-password']" class="white-text">Forgot Password</a>
  </div>
  <div>
    <a [routerLink]="['/signup']" class="white-text">Create Account</a>
  </div>
  <div>
    <a [routerLink]="['/onboard','locations']" class="white-text">Onboard Locations</a>
  </div>
  <div>
    <a [routerLink]="['/onboard','users']" class="white-text">Onboard Users</a>
  </div>
  <div>
    <a [routerLink]="['/onboard','accounting']" class="white-text">Onboard Accounting</a>
  </div>
</div>