:host /deep/ {
  .location-col {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .item-name-col {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
