<div class="row">
  <div class="col s3 tealish-text pointer" [routerLink]="['/','orders', orderId]">
    {{ (order$ | async)?.po_number }}
  </div>
  <div class="col s1" [class.strikethrough]="(statusLineQtyItems$ | async)?.length">
    {{ itemTotal }}
    <a (click)="editQtyToggle()" *ngIf="(statusLineQtyItems$ | async)?.length <= 1 && !editQty">
      <fa name="pencil" class="tealish-text"></fa>
    </a>
  </div>
  <div class="col s4 tealish-text item-name-col">
    {{ (item$ | async)?.item_name }}
  </div>
  <div
    class="col s3 tealish-text pointer location-col"
    [title]="(item$ | async)?.location_name"
    [routerLink]="['/locations','view',(item$ | async)?.location_id]"
  >
    {{ (item$ | async)?.location_name }}
  </div>
</div>

<app-receive-status-line-qty-item
  class="row relative status-line"
  *ngFor="let item of statusLineQtyItems$ | async; let isLast=last"
  [item]="item"
  [lineThrough]="!isLast || editQty"
  [showEditIcon]="isLast && !editQty"
  (edit)="editQtyToggle()"
></app-receive-status-line-qty-item>

<div class="row" *ngIf="editQty">
  <div class="col s3">
    <div class="input flex-center">
      <input type="text" value="New Order Quantity"
        disabled
      >
    </div>
  </div>
  <div class="col s1">
    <div class="input flex-center">
      <input
        type="number"
        min="{{minItemQuantity}}"
        [formControl]="quantityControl"
      >
    </div>
    <div [hidden]="!orderItemForm.hasError('minItemQty') || (quantityControl.pristine && !(formSubmitted$ | async))"
      class="error red-text left-align">
      Quantity couldn't be less than received
    </div>
  </div>
  <div class="col s7">
    <div class="input flex-center">
      <input
        type="text"
        placeholder="Custom Note"
        [formControl]="noteControl"
      >
    </div>
    <div [hidden]="noteControl.valid || (noteControl.pristine && !(formSubmitted$ | async))"
      class="error red-text left-align">
      Note is required
    </div>
  </div>
  <div class="col s1 flex-center justify-center trash-icon">
    <a (click)="editQtyToggle()">
      <fa name="trash" class="tealish-text"></fa>
    </a>
  </div>
</div>
<app-receive-status-line-item
  class="row relative status-line"
  *ngFor="let statusFormGroup of statusLineItemsControl?.controls"
  [statusFormGroup]="statusFormGroup"
  [inventoryGroupId]="inventoryGroupIdControl?.value"
></app-receive-status-line-item>

<app-receive-new-status-item
  class="row"
  *ngFor="let statusFormGroup of statusControl?.controls; index as i"
  [statusFormGroup]="statusFormGroup"
  [inventoryGroupIdControl]="inventoryGroupIdControl"
  [inventoryGroupIds]="inventoryGroupIds$ | async"
  [itemProductVariantId]="itemProductVariantId$ | async"
  [pendingQty]="pendingQty$ | async"
  [selected]="statusItemStatuses$ | async"
  (remove)="removeStatus(i)"
  (createInventoryEvent)="createNewInventoryEvent($event)"
></app-receive-new-status-item>
<div [hidden]="!orderItemForm.hasError('maxItemsQty')"
  class="error red-text left-align">
  Items quantity couldn`t be more than {{ quantityControl.value }}
</div>
<app-receive-add-new-status-item
  [qty]="(pendingQty$ | async) >= 0 ? (pendingQty$ | async) : 0"
  [selected]="statusItemStatuses$ | async"
  (statusAdd)="onStatusAdd($event)"
></app-receive-add-new-status-item>

