  <div class="auth-box center-align">
    <div class="title">Enter your email address below</div>
    <div class="subtitle">We’ll send you a reset link to the address you provide.</div>
    <form class="uptracker-form" materialize (ngSubmit)="onSubmit()" #forgotForm="ngForm" autocomplete="off" novalidate>
      <div class="input row">
        <div class="label left-align">Email</div>
        <input
            id="email"
            class="validate col s12"
            placeholder="Enter email here"
            [(ngModel)]="draftUser['email_address']"
            name="email"
            #email="ngModel"
            required minlength="6" maxlength="254" pattern=".+@.+\..+"
            type="text">

        <div [hidden]="email.valid || email.pristine" class="error red-text left-align">
          Your email must be from 6 to 254 characters long and look like an e-mail address.
        </div>
      </div>

      <button
          type="submit"
          class="btn white-text waves-effect waves-light"
          [class.disabled]="!forgotForm.form.valid"
          [disabled]="!forgotForm.form.valid">
        Submit
      </button>
    </form>
  </div>
  <div class="footer row">
    <div class="col s12 center-align">
      <a [routerLink]="['/login']" class="white-text">Back to login</a>
    </div>
  </div>
