<div class="inner add-to-order-modal">
  <div class="row title center-align">Add to Order</div>
  <div class="row heading-row">
    <div class="col s5">Product</div>
    <div class="col s2">Location</div>
    <div class="col s2">Vendor</div>
    <div class="col s2">Unit Type</div>
    <div class="col s1">Qty</div>
  </div>
  <div *ngFor="let item of items" class="row content-row">
    <div class="col s5">
      <div>
        {{ item.variant_name }}
      </div>
      <div>
        1 {{ item.package_type }}
        <span *ngIf="item.units_per_package "> = {{ item.units_per_package }} {{ item.unit_type }}</span>
        <span *ngIf="item.sub_unit_per_package "> = {{ item.sub_unit_per_package }} {{ item.sub_unit_type }}/Each</span>
      </div>
    </div>
    <div class="col s2">
      <div class="left select">
        <select 
          [(ngModel)]="item.location_id"
          materialize="material_select">
          <option *ngFor="let location of item.locationArr" [value]="location.id">{{location.name}}</option>
        </select>
      </div>
    </div>
    <div class="col s2">
      <div class="left select">
        <select [(ngModel)]="item.vendor.vendor_id"
          (change)="validateFields();vendorChange($event,item,item.vendorArr)"
          materialize="material_select">
          <option value="">Auto</option>
          <option *ngFor="let v of item.vendorArr" [value]="v.vendor_id">{{v.vendor_name}}</option>
        </select>
      </div>
    </div>
    <div class="col s2">
      <div class="left select">
        <select (change)="changeUnitType()" [(ngModel)]="item.selected_unit_type" materialize="material_select">
          <option *ngIf="item.package_type"  value="package">{{ item.package_type }}</option>
          <option *ngIf="item.unit_type" value="unit">{{ item.unit_type }}</option>
          <option *ngIf="item.sub_unit_type" value="subunit">{{ item.sub_unit_type }}</option>
        </select>
      </div>
    </div>
    <div class="col s1">
      <div class="input">
        <input
          type="text"
          class="quantity"
          [(ngModel)]="item.quantity"
          id="quantity"
        />
        <label for="quantity"></label>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row mtop">
    <div class="center-align col s12">
      <button class="uptracker-form-btn" (click)="dismissModal()">Cancel</button>
      <button class="uptracker-form-btn " (click)="saveOrder()">Add</button>
    </div>
  </div>
</div>
