@import "../../../../../colors.scss";

:host /deep/ {
  .inner .add-to-order-modal {
    .row {
      &.check {
        margin: 10px 0;
        .s2 {
          padding-left: 0;
        }
      }
    }
    .select-title {
      margin-bottom: 5px;
    }
  }

  .input-checkbox {
    [type="checkbox"] {
      & + label {
        vertical-align: middle;
        padding-left: 25px;
        font-size: 14px;

        &:before {
          width: 20px;
          height: 20px;
          background-color: #f5f6f7;
          border-color: #d6d6d6;
          border-radius: 3px;
        }
      }

      &:checked {
        & + label:before {
          border-width: 0 2px 2px 0;
          background: transparent;
          width: 10px;
          height: 15px;
          border-radius: 1px;
          top: 1px;
          left: -2px;
          border-color: $tealish;
        }
      }
    }
  }

  .range-field {
    margin-top: 12px;
    position: relative;
    .value-container {
      position: relative;
      margin: 0 17px;
      .value {
        position: absolute;
        width: 30px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        bottom: 7px;
        z-index: 1;
        cursor: pointer;
        pointer-events: none;
      }
    }
  }

  @mixin range-track {
    border: 1px solid #d6d6d6;
    background: #f5f6f7;
    height: 11px;
    border-radius: 5px;
  }

  @mixin range-thumb {
    background: $tealish;
    border: 1px solid $tealish;
    width: 30px;
    height: 30px;
    margin-top: -11px;
  }

  @mixin range-thumb-disabled {
    background: #f5f6f7;
    border: 1px solid #d6d6d6;
  }

  .range-field {
    clear: both;

    input {
      margin: 10px 0;

      & + .thumb {
        display: none;
      }
    }

    input::-webkit-slider-runnable-track {
      @include range-track;
    }

    input::-moz-range-track {
      @include range-track;
    }

    input::-ms-track {
      @include range-track;
    }

    input::-webkit-slider-thumb {
      @include range-thumb;
    }

    input::-moz-range-thumb {
      @include range-thumb;
    }

    input::-ms-thumb {
      @include range-thumb;
    }

    input[disabled]::-webkit-slider-thumb {
      @include range-thumb-disabled;
    }

    input[disabled]::-moz-range-thumb {
      @include range-thumb-disabled;
    }

    input[disabled]::-ms-thumb {
      @include range-thumb-disabled;
    }
  }
}