$tealish: #33c6d9;
$red: #f00;
$button-red: #f1594e;
$white: #fff;
$greeny: #4CAF50;
$dark: #444;
$grey: #9a9c9e;
$light-grey: #d6d6d6;
$mid-grey: #cccccc;
$light-light-grey: #f5f5f5;
$black: #000;
$orange:#f4827a;
$limegreen: #5cd933;