<div class="col s3">
  <div class="select custom-select select-light flex-center">
    <select
      materialize="material_select"
      [materializeSelectOptions]="remainingStatusList$ | async"
      [ngModel]="pendingStatus"
      (ngModelChange)="onListSelect($event)"
    >
      <ng-template let-statusItem ngFor [ngForOf]="remainingStatusList$ | async">
        <option [value]="statusItem.value">{{ statusItem.text }}</option>
      </ng-template>
    </select>
  </div>
</div>
<div class="col s1">
  <div class="input flex-center">
    <input
      type="number"
      disabled="true"
      [ngModel]="qty"
    >
  </div>
</div>
<div class="col s4">
  <div class="select select-light flex-center">
    <select
      materialize="material_select"
      [disabled]="true"
    >
      <option value="null">N/A</option>
    </select>
  </div>
</div>
<div class="col s3">
  <div class="select select-light flex-center">
    <select
      materialize="material_select"
      [disabled]="true"
    >
      <option value="null">N/A</option>
    </select>
  </div>
</div>
