<form
  *ngIf="invoice$ | async"
  class="uptracker-form"
  materialize
  #receiveProductForm="ngForm"
  autocomplete="off"
  novalidate>
  <div class="products content uptracker-form receive-orders">
    <div class="top">
      <div class="row filter clearfix">
        <div class="col m12 l3 title">
          <div class="fa fa-chevron-left round-back-btn" (click)="goBack()"></div>
          <span class="main-title mrg-l-30">Receive Products</span>
        </div>
        <div class="col l3 m12 s12">
          <div class="select">
            <!--TODO make select for vendor as div-->
            <select
              [disabled]="true"
              class="wide"
              materialize="material_select"
              [materializeSelectOptions]="[vendorName]"
              name="vendor"
            >
              <option selected>{{ vendorName }}</option>
            </select>
          </div>
        </div>
        <div class="col l2 m6 s6 input wide-input">
          <input type="text"
            placeholder="Packing Slip #"
            class="validate col s12 minlength-validation"
            id="packing_slip_number"
            [formControl]="packingSlipNumberControl"
          />
          <div [hidden]="!packingSlipNumberControl.hasError('required') || (packingSlipNumberControl.pristine && !(formSubmitted$ | async)) "
            class="red-text left-align">
            Packing slip is required
          </div>
        </div>
        <div class="col m6 l2 s6 input wide-input">
          <input type="text"
            placeholder="Invoice #"
            class="col s12"
            [formControl]="invoiceNumberControl"
          />
        </div>
        <div class="col m3 l2 s12 right-align">
          <button
            (click)="save()"
            type="submit"
            class="uptracker-form-btn no-min-width white-text waves-effect waves-light"
          >
            <fa name="check"></fa>
            Save
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="list is-grid-view">
        <div>
          <div class="heading row">
            <div class="col s3">Status</div>
            <div class="col s1">Quantity</div>
            <div class="col s4">Inventory Group</div>
            <div class="col s3">Location</div>
            <div class="col s1"></div>
          </div>
          <div class="item row" *ngFor="let order of receiveOrdersForm?.get('orders')?.controls">
            <div class="col s12 product-row" *ngFor="let item of order?.get('items')?.controls">
              <app-receive-item
                [orderId]="order.get('order_id')?.value"
                [itemId]="item.get('id')?.value"
                [orderItemForm]="item"
                (createInventoryEvent)="updateInvoice()"
              ></app-receive-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
