.expiration-row{
  margin:0 -0.75rem;

  .expMonth{
    position: relative;

    &:after{
      content:'/';
      position: absolute;
      top:17px;
      right:-2px;
      color:#9a9c9e;
    }
  }
}