@import "../../../colors";

:host /deep/ {
  .custom-product-add {
    height:100%;
    width:100%;
    border-radius: 5px;
    .row {
      margin-bottom: 10px;
    }
    .title {
      font-size: 18px;
      color: $dark;
    }
    .input input, .select input {
      background-color: $white;
      margin: 0;
    }
    .uptracker-form-btn, .uptracker-form-btn.tealish {
      height:25px;
      line-height:20px;
      min-width: 80px;
      padding-left:3px;
      &.redbtn {
        color:$red!important;
        border: 1px solid $red;
        background-color: $white;
      }
    }
    .row.buttons {
      padding-top:5px;
    }
    .fa-barcode {
      color: $tealish;
      font-size: 24px;
      position: absolute;
      right: 23px;
      top: 5px;
    }
  }
}
