@import "../../../../colors.scss";

input.select-dropdown, .input input {
  height: 30px;
  margin-bottom: 0 !important;
  border: 1px solid $grey;
  border-radius: 5px;
  padding-left: 5px;
}

.inner {
  padding: 5px;


  label.light-grey {
    color: $grey;
  }

  [type="radio"] + label:before, [type="radio"] + label:after {
    right: 0;
    margin: 4px auto;
  }

  .row {
    margin-bottom: 0;
    padding-top:3px;
  }

  .thinrow {
    height: 35px;
  }

  .add-discount {
    margin-bottom: 10px;
  }

  .row.discounts, .checks-row {
    border-bottom: 1px solid $grey;
  }

  .row.discounts{
    padding-bottom:10px;
  }

  .flex-center {
    display: flex!important;
    align-items: center;
    justify-content: center;
  }

  .titles {
    font-size: .8rem;
    white-space: nowrap;
  }

  .checks-row {
    padding-bottom: 20px;

    & > div.col > * {
      text-align: center;
      display: block;
      float: left;
      padding: 0;
      width: 100%;
    }
  }

  .grey-text {
    color: $grey
  }

  label {
    font-size: 1rem;
    color: $dark;
  }

  .smaller {
    font-size: 0.9rem;
  }

  .uptracker-form-btn {
    height: 36px;
    font-size: 14px;
    border: 1px solid #fff;
    width: 100px;
    margin: 0 5px;
    font-weight: normal;

    &:first-of-type {
      border-color: red;
      background-color: #fff;
      color: red;
    }
    &:last-of-type {
      border-color: $tealish;
      background-color: $tealish;
      color: #fff;
    }
  }

  .trash {
    text-align: center;
    line-height: 30px;
  }

  .right-grey {
    display:none;
  }
  .discount-titles {
    display:none;
  }
  &.grey-blocks {
    .discount-titles {
      display:block;
    }
    >.row {
      position:relative;
      margin-right: 80px;
      padding-top:6px;
      &:first-of-type {
        margin-right:0;
        min-height:0;
      }
      &.discount-adder {
        min-height:60px;
      }
      .right-grey {
        background-color: $light-light-grey;
        position: absolute;
        display:block;
        right: -90px;
        top: 0;
        bottom: 0;
        left: 100%;
        padding-top:9px;
        &:first-of-type {
          bottom:-1px;
        }
        .right-ttl {
          text-align: center;
          color:$mid-grey;
          font-size: .8rem;
        }
        .right-price {
          text-align: center;
          color:$dark;
          font-size: 1.3rem;
        }
      }
    }
  }

  .padnoright {
    padding-right:0;
  }

  .pad7px{
    padding-right:7px;
  }

  .bottom-buttons {
    margin-top:10px;
  }
}
